<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		{% for film in films%}
			<div class="item{% if loop.index == 1 %} active{% endif %}">
				<div class="container">
					<div class="carousel-caption">
						<div class="row">
							<img class="col-xs-4 col-md-4" src="{{ film.image }}"/>
							<div class="col-md-8">
								<h2>{{ film.titreFrancais }}</h2>
								<hr/>
								<b>Titre Original</b> : {{ film.titreOriginal }}<br/>
								<b>Année</b> : {{ film.date }}<br/>
								<b>Durée</b> : {{ film.duree }} min.<br/>
								<b>Couleur</b> : {% if film.couleur | trim  == "NB" %}NON{% else %}OUI{% endif %}<br/>
								<b>Pays</b> : {{ film.pays }}<br/>
								<b>Réalisateur</b> : {{ film.realisateur }}<br/>
								<b>Acteurs</b> : {{ film.refCodeActeur|join(', ') }}<br/><br/>
								<a class="btn btn-lg btn-primary" href="film/{{ film.codeFilm }}" role="button">Voir la fiche</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->