<?xml version='1.0' encoding='utf-8'?>
<films>
{% for film in films %}
	<film>
		<code>{{ film.codeFilm }}</code>
		<titreOriginal>{{ film.titreOriginal | trim }}</titreOriginal>
		<titreFrancais>{{ film.titreFrancais | trim }}</titreFrancais>
		<pays>{{ film.pays | trim }}</pays>
		<date>{{ film.date | trim }}</date>
		<duree>{{ film.duree | trim }}</duree>
		<couleur>{{ film.couleur | trim }}</couleur>
		<realisateur>
			<nom>{{ film.realisateur.nom | upper | trim }}</nom>
			<prenom>{{ film.realisateur.prenom | trim }}</prenom>
		</realisateur>
{% if format == "zip" %}
		<image>{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/{{ film.image | trim }}</image>
{% endif %}
		<genres>
{% for genre in film.refCodeGenre %}
			<genre>{{ genre.nomGenre | trim }}</genre>
{% endfor %}
		</genres>
		<acteurs>
{% for acteur in film.refCodeActeur %}
			<acteur>
				<nom>{{ acteur.nom | upper | trim }}</nom>
				<prenom>{{ acteur.prenom | trim }}</prenom>
			</acteur>
{% endfor %}
		</acteurs>
	</film>
{% endfor %}
</films>