{# src/klj/FilmBundle/Resources/views/search.html.twig #}

{% extends "kljFilmBundle:Default:layout.html.twig" %}
{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}
<div id="body-container">
    <div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal rounded-box center">
					<fieldset>
						<legend class="center blue">Exporter</legend>
						{% if form_errors(form) %}
							<div class="error bold center">{{ form_errors(form) }}</div>
						{% endif %}
						
						{{ form_widget(form._token) }}
						
						<div class="form-group">
							{{ form_label(form.genre) }}<br/>
							{{ form_widget(form.genre, { 'attr': {'class': 'col-md-8 col-md-offset-2'} }) }}
						</div>
						<div class="form-group">
							{{ form_label(form.format) }}<br/>
							{{ form_widget(form.format, { 'attr': {'class': 'col-md-8 col-md-offset-2'} }) }}
						</div>
						<button type="submit" class="btn">Exporter</button>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- FOOTER -->
		{% include "kljFilmBundle:Default:footer.html.twig" %}
	</div>
</div>
{% endblock %}