{# src/klj/FilmBundle/Resources/views/film.html.twig #}

{% extends "kljFilmBundle:Default:layout.html.twig" %}
{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}
<div id="body-container">
    <div class="container">
    	<legend class="center blue">{{ film.titreFrancais }}</legend>
		<div class="row">
			<div class="col-md-3">
				<img width="250px" src="{{ app.request.getBaseURL() }}/{{ film.image }}" />
			</div>
			<div class="col-md-9">
				<b>Titre Français</b> : {{ film.titreFrancais }}<br/>
				<b>Titre Original</b> : {{ film.titreOriginal }}<br/>
				<b>Année</b> : {{ film.date }}<br/>
				<b>Durée</b> : {{ film.duree }} min.<br/>
				<b>Couleur</b> : {% if film.couleur | trim  == "NB" %}NON{% else %}OUI{% endif %}<br/>
				<b>Pays</b> : {{ film.pays }}<br/>
				<b>Réalisateur</b> : {{ film.realisateur }}<br/>
				<b>Acteurs</b> : {{ film.refCodeActeur|join(', ') }}
			</div>
		</div>
		<!-- FOOTER -->
		{% include "kljFilmBundle:Default:footer.html.twig" %}
	</div>
</div>
{% endblock %}