{# src/klj/FilmBundle/Resources/views/import.html.twig #}

{% extends "kljFilmBundle:Default:layout.html.twig" %}
{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}
<div id="body-container">
    <div class="container">
		<div class="row">
			{% if message is defined %}
				<span class="col-md-6 col-md-offset-3 center alert alert-{% if error %}danger{% else %}success{% endif %}">{{ message }}</span>
			{% else %}
			<span class="col-md-6 col-md-offset-3 alert alert-info" style="margin-top:10px;">
					<!-- <a href="{{ asset("bundles/kljfilm/import.dtd") }}">Télecharger le fichier DTD</a> -->
					<h4 class="center" style="cursor:pointer" onclick="$('#dtd_text').toggle('slow');if($(this).text() == 'Masquer le fichier DTD') $(this).text('Voir le fichier DTD'); else $(this).text('Masquer le fichier DTD');">Voir le fichier DTD</h4>
					<div id="dtd_text" style="display:none">{% autoescape false %}{{ dtd_text }}{% endautoescape %}</div>
				</span>
				<div class="col-md-4 col-md-offset-4">
					<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal rounded-box center">
						<fieldset>
							<legend class="center blue">Importer</legend>
							{% if form_errors(form) %}
								<div class="error bold center">{{ form_errors(form) }}</div>
							{% endif %}
							
							{{ form_widget(form._token) }}
							
							<div class="form-group">
								{{ form_label(form.fichier) }}<br/>
								{{ form_widget(form.fichier, { 'attr': {'class': 'col-md-8 col-md-offset-2'} }) }}
							</div>
							<button type="submit" class="btn">Importer</button>
						</fieldset>
					</form>
				</div>
			{% endif %}
		</div>
		<!-- FOOTER -->
		{% include "kljFilmBundle:Default:footer.html.twig" %}
	</div>
</div>
{% endblock %}