{# src/klj/FilmBundle/Resources/views/index.html.twig #}

{% extends "kljFilmBundle:Default:layout.html.twig" %}
{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}
	
	<!-- Carousel -->
	{% include "kljFilmBundle:Default:carousel.html.twig" %}
	
    <div class="container marketing">
    	<legend class="center blue">Derniers films ajoutés</legend>
	{% set counter = 0 %}
	{% for film in films %}
		{% if counter == 0 %}<div class="row">{% endif %}
			<div class="col-md-3 center">
				<img width="100px" src="{{ film.image }}"/>
				<h4>{{ film.titreFrancais }}</h4>
				<p>{{ film.date }}</p>
				<p><a class="btn btn-default" href="{{ app.request.getBaseURL() }}/film/{{ film.codeFilm }}" role="button">Voir la fiche</a></p>
			</div>
		{% set counter = counter + 1 %}
		{% if counter == 4 or loop.last %}</div>{% endif %}
		{% if counter == 4 %}{% set counter = 0 %}{% endif %}
	{% endfor %}
	<!-- FOOTER -->
	{% include "kljFilmBundle:Default:footer.html.twig" %}
	
	</div><!-- /.container -->
{% endblock %}