{# src/klj/FilmBundle/Resources/views/layout.html.twig #}

{% set currentRoute = app.request.attributes.get('_route') %}
{% extends "::base.html.twig" %}

{% block head %}
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Film{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
   
    {% block stylesheets %}
	    <link href="{{ asset("bundles/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
	    <link href="{{ asset("bundles/jquery/css/ui-smoothness/jquery-ui.css") }}" rel="stylesheet">
	    <link href="{{ asset("bundles/kljfilm/css/carousel.css") }}" rel="stylesheet">
	    <link href="{{ asset("bundles/kljfilm/css/style.css") }}" rel="stylesheet">
    {% endblock %}
    
    {% block javascripts %}
    	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->
	    
    	<script src="{{ asset("bundles/jquery/js/jquery.js") }}"></script>
    	<script src="{{ asset("bundles/jquery/js/jquery-ui.js") }}"></script>
	    <script src="{{ asset("bundles/bootstrap/js/bootstrap.min.js") }}"></script>
    {% endblock %}
    
{% endblock %}



{% block body %}
	{% block menu %}{% include "kljFilmBundle:Default:menu.html.twig" %}{% endblock %}
    
    {% block content %}{% endblock %}
{% endblock %}