{# src/klj/FilmBundle/Resources/views/list.html.twig #}

{% extends "kljFilmBundle:Default:layout.html.twig" %}
{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}
<div id="body-container">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<legend class="center blue">Liste des films ({{ films | length }})</legend>
				<div class="container">
					{% set counter = 0 %}
					{% for film in films %}
						{% if counter == 0 %}<div class="row">{% endif %}
							<div class="col-md-2 center">
								<a href="{{ app.request.getBaseURL() }}/film/{{ film.codeFilm }}"><img width="100px" src="{{ film.image }}"/><br/>
								{{ film.titreFrancais }}<br/>
								{{ film.date }}</a>
							</div>
						{% set counter = counter + 1 %}
						{% if counter == 6 %}</div>{% endif %}
						{% if counter == 6 %}{% set counter = 0 %}{% endif %}
						
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- FOOTER -->
		{% include "kljFilmBundle:Default:footer.html.twig" %}
	</div>
</div>
{% endblock %}