<div class="navbar-wrapper">
	<div class="container">
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ app.request.getBaseURL() }}/">Film</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li{% if currentRoute == "klj_film_homepage" %} class="active"{% endif %}><a href="{{ app.request.getBaseURL() }}/"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
						<li{% if currentRoute == "klj_film_list" %} class="active"{% endif %}><a href="{{ app.request.getBaseURL() }}/list"><span class="glyphicon glyphicon-th-list"></span> Liste des films</a></li>
						<li{% if currentRoute == "klj_film_search" %} class="active"{% endif %}><a href="{{ app.request.getBaseURL() }}/search"><span class="glyphicon glyphicon-search"></span> Rechercher</a></li>
						<li{% if currentRoute == "klj_film_export" %} class="active"{% endif %}><a href="{{ app.request.getBaseURL() }}/export"><span class="glyphicon glyphicon-open"></span> Export</a></li>
						<li{% if currentRoute == "klj_film_import" %} class="active"{% endif %}><a href="{{ app.request.getBaseURL() }}/import"><span class="glyphicon glyphicon-save"></span> Import</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>