{# src/klj/FilmBundle/Resources/views/search.html.twig #}

{% extends "kljFilmBundle:Default:layout.html.twig" %}
{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}
<div id="body-container">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if isResults %}
				<legend class="center blue">Résultat de la recherche ({{ films | length }})</legend>
					<div class="container">
						{% set counter = 0 %}
						{% for film in films %}
							{% if counter == 0 %}<div class="row">{% endif %}
								<div class="col-md-2 center">
									<a href="{{ app.request.getBaseURL() }}/film/{{ film.codeFilm }}"><img width="100px" src="{{ film.image }}"/><br/>
									{{ film.titreFrancais }}<br/>
									{{ film.date }}</a>
								</div>
							{% set counter = counter + 1 %}
							{% if counter == 6 %}</div>{% endif %}
							{% if counter == 6 %}{% set counter = 0 %}{% endif %}
							
						{% endfor %}
					</div>
				{% else %}
					
					<script>
						$(function() {
							var names = new Array();
							
							{% for titre in titres %}
								names[names.length] = "{{ titre|raw }}";
							{% endfor %}
							
							var accentMap = {
								"é":"e", 
								"è":"e", 
								"ê":"e", 
								"ë":"e", 
								"ç":"c", 
								"à":"a", 
								"â":"a", 
								"ä":"a",
								"î":"i",
								"ï":"i",
								"ù":"u", 
								"ô":"o", 
								"ó":"o",
								"ö":"o"
							};
						
							var normalize = function( term ) {
								var ret = "";
								for ( var i = 0; i < term.length; i++ ) {ret += accentMap[ term.charAt(i) ] || term.charAt(i);}
								return ret;
							};
							
							$( "#form_titre" ).autocomplete({
								source: function( request, response ) {
									var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
									response( $.grep( names, function( value ) {
										value = value.label || value.value || value;
										return matcher.test( value ) || matcher.test( normalize( value ) );
									}));
								}
							});						
						});
					</script>
					
					<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal rounded-box center col-md-6 col-md-offset-3">
						<fieldset>
							<legend class="center blue">Recherche</legend>
							{% if form_errors(form) %}
								<div class="error bold center">{{ form_errors(form) }}</div>
							{% endif %}
							{{ form_widget(form._token) }}
							
							<div class="form-group">
								{{ form_label(form.titre) }}<br/>
								{{ form_widget(form.titre, { 'attr': {'class': 'col-md-8 col-md-offset-2'} }) }}
							</div>
							
							<div class="form-group col-md-6">
								{{ form_label(form.pays) }}<br/>
								{{ form_widget(form.pays, { 'attr': {'class': 'col-md-9 col-md-offset-4','size':'5'} }) }}
							</div>
							<div class="form-group col-md-6">
								{{ form_label(form.date) }}<br/>
								{{ form_widget(form.date, { 'attr': {'class': 'col-md-9 col-md-offset-2','size':'5'} }) }}
							</div>
							<div class="form-group">
								{{ form_label(form.realisateur) }}<br/>
								{{ form_widget(form.realisateur, { 'attr': {'class': 'col-md-8 col-md-offset-2','size':'10'} }) }}
							</div>
							<div class="form-group">
								{{ form_label(form.genre) }}<br/>
								{{ form_widget(form.genre, { 'attr': {'class': 'col-md-8 col-md-offset-2','size':'10'} }) }}
							</div>
							<button type="submit" class="btn">Rechercher</button>
						</fieldset>
					</form>
				{% endif %}
			</div>
		</div>
		<!-- FOOTER -->
		{% include "kljFilmBundle:Default:footer.html.twig" %}
	</div>
</div>
{% endblock %}